* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
body {
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  z-index: 5;
  background-color: white;
}
header .logo {
  width: 15%;
  align-self: center;
  margin-right: 0px;
  margin-left: 12vw;
}
header nav {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
header nav ul li {
  margin: 28px 25px 0 0;
  height: 53px;
  color: hsl(233, 8%, 62%);
  cursor: pointer;
  padding-bottom: 5px;
  position: relative;
}
header nav ul li:hover {
  color: hsl(233, 26%, 24%);
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-image-slice: 1;
}
header .head-button {
  width: 25%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(90deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button p {
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}
section {
  height: 90vh;
  background-color: hsl(0, 0%, 98%);
  display: flex;
}
.intro {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro-content {
  width: 65%;
}
.intro-content h1 {
  font-size: 3.5em;
  font-weight: 400;
  line-height: 1.2em;
  color: hsl(233, 26%, 24%);
  margin-bottom: 20px;
}
.intro-para {
  font-size: 1.2em;
  line-height: 1.5em;
  color: hsl(233, 8%, 62%);
  margin-bottom: 30px;
}
.intro-images{
  width: 50%;
  position: relative;
  z-index: 1
}
.intro-back-image{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.intro-top-image{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.intro-back-image img{
  /* width: 1000px; */
  position: absolute;
  top: -250px;
  left: -120px;
  z-index: 0;
}
.intro-top-image img{
  /* width: 1000px; */
  position: absolute;
  top: -250px;
  left: 120px;
}

.why-part {
  background-color: hsl(220, 16%, 96%);
  position: relative;
  display: flex;
  flex-direction: column;
}
.why-content {
  padding-top: 115px;
  width: 80%;
  margin: 0 0 80px 10%;
}
.why-content h1 {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  font-size: 2.5em;
  margin-bottom: 20px;
}
.why-content p {
  color: hsl(233, 8%, 62%);
  font-size: 20px;
}
.why-cards {
  display: flex;
  width: 80%;
  margin: 0 0 100px 10%;
}
.why-card {
  width: 23%;
  margin-right: 20px;
}
.why-card-icon {
  margin-bottom: 30px;
}
.why-card h2 {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  margin-bottom: 25px;
}
.why-card p {
  color: hsl(233, 8%, 62%);
  margin-bottom: 50px;
}
.articles {
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
}
.articles h1 {
  color: hsl(233, 26%, 24%);
  font-weight: 400;
  font-size: 2.5em;
  margin: 115px 0 50px 10%;
}
.all-article {
  display: flex;
  margin: 0 0 100px 10%;
  width: 80%;
}
article {
  width: 25%;
  margin-right: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
article figure {
  height: 30vh;
  margin-bottom: 45px;
}
article figure img {
  width: 100%;
  height: 90%;

  margin-bottom: 30px;
}
article figure figcaption {
  font-size: 0.8em;
  color: hsl(233, 8%, 62%);
  margin-left: 10%;
}
.article-content {
  width: 80%;
  margin: 0 0 25px 10%;
}
.article-content h2 {
  color: hsl(233, 26%, 24%);
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: 400;
}
.article-content p {
  color: hsl(233, 8%, 62%);
  font-size: 0.9em;
}
article:hover .article-content h2 {
  color: hsl(136, 65%, 51%);
}
footer {
  background-color: hsl(233, 26%, 24%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
}
.foot-logo {
  margin-bottom: 50px;
  position: relative;
}
.foot-logo h1 {
  position: absolute;
  font-size: 25px;
  left: 30px;
  bottom: 2px;
  color: hsl(0, 0%, 100%);
}
.icons {
  height: 100px;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.icon {
  cursor: pointer;
}

.footer-nav-list {
  display: flex;
  width: 20%;
  justify-content: space-between;
}
footer li {
  color: hsl(0, 0%, 100%);
  list-style: none;
  cursor: pointer;
  margin-bottom: 15px;
}
footer li:hover {
  color: hsl(136, 65%, 51%);
}
.footer-copyright {
  height: 100px;
}
.footer-button {
  margin-bottom: 20px;
}
.footer-copyright p {
  color: hsl(0, 0%, 100%);
}
@media (max-width: 900px) and (min-width: 601px) {
  header {
    justify-content: space-between;
  }
  header .logo {
    width: 150px;
    margin-left: 10px;
  }
  header .head-button {
    margin-right: 10px;
  }
  header nav ul {
    flex-wrap: wrap;
  }
  header nav ul li {
    margin: 0 10px 0 0;
    height: 20px;
  }
  section {
    overflow: hidden;
  }
  .intro-back-image img {
    width: 500px;
    display: block;
    position: relative;
    top: -100px;
    left: -50px;
    z-index: -15;
  }
  .intro-top-image img {
    width: 350px;
    display: block;
    top: -90px;
    left: 60px;
  }
  .intro-content h1 {
    font-size: 3em;
  }
  .why-cards {
    flex-wrap: wrap;
  }
  .why-card {
    width: 45%;
  }
  .all-article {
    flex-wrap: wrap;
  }
  article {
    width: 45%;
  }
}
@media (max-width: 600px) {
  header {
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
  #mobileNav ul li {
    margin: 15px;
    height: auto;
    border: 0px;
    font-size: 20px;
  }
  #mobileNav ul li:nth-child(1) {
    margin-top: 35px;
  }
  #mobileNav ul li:nth-child(5) {
    margin-bottom: 35px;
  }
  header nav {
    position: absolute;
    top: 110px;
    left: 20%;
  }
  #mobileNav ul {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 1000px 100px hsl(233, 26%, 24%);
    position: relative;
    z-index: 0;
  }
  #mobileNav,
  header .head-button-content {
    display: none;
  }
  header .head-button-mobile-line {
    background-color: hsl(233, 26%, 24%);
    width: 60px;
    height: 3px;
    border: 1px solid hsl(233, 26%, 24%);
    border-radius: 50px;
    margin-right: 40px;
    align-self: center;
    position: relative;
  }
  .head-button-mobile-line::after {
    content: "";
    background-color: hsl(233, 26%, 24%);
    height: 1px;
    width: 58px;
    border: 1px solid hsl(233, 26%, 24%);
    border-radius: 50px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
  }
  .head-button-mobile-line::before {
    content: "";
    background-color: hsl(233, 26%, 24%);
    height: 1px;
    width: 58px;
    border: 1px solid hsl(233, 26%, 24%);
    border-radius: 50px;
    position: absolute;
    top: 10px;
    cursor: pointer;
  }
  .head-button-mobile-cross {
    background: url("./images/icon-close.svg");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
  }
  section {
    flex-direction: column;
    height: auto;
  }
  .intro-images{
    width: 100%;
    height: 90vh;
  }
  .intro-back-image{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .intro-top-image{
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .intro-back-image img{
    width: 800px;
    position: absolute;
    top: -170px;
    left: -150px;
  }
  .intro-top-image img{
    width: 100%;
    position: absolute;
    top: -150px;
    left: 0px;
  }

  .top-image-click {
    display: none;
  }
  .back-image-click {
    z-index: -5;
    height: 100px;
  }
  .back-image-click img {
    width: 1000px;
    top: -390px;
    z-index: -5;
  }
  .intro {
    order: 2;
    width: 100%;
  }
  .intro-content {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .intro-content h1 {
    font-size: 2.5em;
    width: 80%;
  }
  .intro-content p {
    font-size: 1em;
    width: 90%;
  }
  .why-part {
    align-items: center;
  }
  .why-content {
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .why-content p {
    font-size: 1em;
  }
  .why-cards {
    margin: 0px;
    flex-direction: column;
    align-items: center;
  }
  .why-card {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .articles {
    align-items: center;
  }
  .articles h1 {
    margin: 115px 0 50px 0;
  }
  .all-article {
    margin: 0px;
    flex-direction: column;
    align-items: center;
  }
  article {
    margin: 0 0 30px 0;
    width: 90%;
  }
  article figure {
    height: 40vh;
  }
  .all-article article:nth-child(4) {
    margin-bottom: 100px;
  }
  .footer-container {
    flex-direction: column;
    height: auto;
  }
  .foot-logo {
    margin: 50px 0 25px 0;
  }
  .icons {
    width: 50%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .social {
    width: 80%;
  }
  .icon img {
    width: 1.5em;
  }
  .footer-nav-list {
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    width: 50%;
  }
  .footer-button {
    margin: 10px auto;
  }
}

@media (max-width: 500px) {
  .intro-back-image img{
    width: 750px;
  }
}
@media (max-width: 375px) {
  .intro-back-image img{
    width: 600px;
  }
}
